<div id="footer" >
    <div class="row">
        <div class="col-sm-4">
            <div class="footer">
                <p>© Copyright <%= new Date().toString() %></p>
            </div>
        </div>
    </div>
</div>