<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>Oops something went wrong, page not available.</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>Return to <a href="/" class="button">Home</a></p>
        </div>
    </div>
</div>


