<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>
                Welcome to my project!
            </h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-6">
            <p class="col-sm-6">
                This project implements a Express server that does the following
            </p>
            <ul div class="col-sm-6">
                <li>
                    Receives incoming http requests, and responds with EJS pages 
                </li>
                <li>
                    Handles incoming API requests and sends JSON formatted data as a response
                </li>
                <li>
                    Adds and removes data entries from a locally hosted MongoDB database 
                </li>
            </ul>
        </div>
    </div>
</div>