<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>Thanks for joining <u><%= userName %></u>!</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <p>
                Return to 
                <a href="/users">
                    <span class="button">Users</span>
                </a> 
                to see you've been added!
            </p>
        </div>
    </div>
</div>




